/*
Name: Shaher Akhtary
File: Assignment3 part 2
Date: 24 February 2026
My exciting website
*/

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333333;
  margin: 0;
  font: 1.2em / 1.6 sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 1px solid black;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  max-width: 980px;
}

nav {
  background-color: black;
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0 80px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
}