/*
Name: Shaher Akhtary
File: Assignment3 part 2
Date: 23 February 2026
St Huxley's Community College
*/

/* General setup */

* {
  box-sizing: border-box;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  line-height:calc(1.5)
}

a {
    color: #aa6666;
}

nav ul a {
    border-style:groove;
    border-color: #aa6666;
    text-align: center;
    font-size: 30px;
    border-width: 2px;
    
    
    
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}